@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
}

.parent {
  position: relative;
}

.child {
  background: <img src="taika.gif">
  padding: 20px;

  &.both {
    @include center;
  }
}


